/***** Always True *****/
@media only screen {
  body {
    font-family: proxima-nova, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden */
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  html, body, #appRoot, #root {
    scrollbar-width: none;
    -ms-overflow-style: none; 
    width: 100vw;
    height: -webkit-fill-available;
    font-family: 'Chelsea Market';
    background-color: #161616;
    background-image: url("assets/media/images/texture.jpg");
    background-size: cover;
  }

  #appRoot {
    overflow: auto;
  }

  ::-webkit-scrollbar {
      width: 0; 
      background: transparent; 
  }
}

@media only screen and (min-width: 700px) {
}

/***** <= 700px *****/
@media only screen and (max-width: 700px) {

}